<br><br>
<div>
  So one animalService is exists in the project. Now I want to add another service of LionService. Create a inheritance of
  AnimalService and add in app.module file useClass:'LionService'.<br>
  <strong>Use Class In DI</strong>
  <app-use-class></app-use-class>
</div>


<br><br>
<div>
  I have Existing service is DesktopService now I want to replace this service so change in app.module in provider and add
  it.<br>
  <strong>Use Existing In DI</strong>
  <app-use-existing></app-use-existing>
</div>


<br><br>
<div>
  <strong>Use Value and Factory In DI</strong>
  <app-use-value></app-use-value>
</div>